<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
.container{
	margin-top: 50px
}
.row{
	width: 350px;
	margin: 0px auto
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<h3 class="text-center">관리자 페이지</h3>
			<p>관리자만 접속 가능</p>
			<p><a href="/" class="btn btn-sm btn-primary">홈으로</a></p>
		</div>
	</div>
</html>